.custom-shape-divider-bottom-1679038343 {
  position: absolute;
  top: -2.28rem;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1679038343 svg {
  position: relative;
  display: block;
  width: calc(126% + 1.3px);
  height: 38px;
}

.custom-shape-divider-bottom-1679038343 .shape-fill {
  fill: #efefef;
}
